/* ============================================
   RESPONSIVE DESIGN - TABLET LARGE
   ============================================ */

@media screen and (max-width: 1400px) {
  section {
    margin: 0 8rem;
  }
  
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
    gap: 4rem;
    margin-top: 2rem;
  }
  
  .about-containers {
    flex-wrap: wrap;
  }

  .projects-container {
    flex-wrap: nowrap;
    gap: 1.5rem;
  }
  
  .projects-container .color-container {
    flex: 0 0 350px; /* Fixed width - approximately 2 fit in viewport */
    width: 350px;
    min-width: 300px;
  }
  
  .carousel-arrow {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.25rem;
  }
  
  .arrow {
    right: -4rem;
  }
}

