.scrollProgress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: transparent;
  z-index: 101;
  overflow: hidden;
}

.progressBar {
  height: 100%;
  background-color: var(--color-black);
  transition: width 0.1s ease-out;
}
