.skeleton {
  background: linear-gradient(
    90deg,
    var(--color-light-grey) 25%,
    var(--color-bg-light) 50%,
    var(--color-light-grey) 75%
  );
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s ease-in-out infinite;
  display: inline-block;
}

[data-theme="dark"] .skeleton {
  background: linear-gradient(
    90deg,
    var(--color-medium-grey) 25%,
    var(--bg-color) 50%,
    var(--color-medium-grey) 75%
  );
  background-size: 200% 100%;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.text {
  height: 1rem;
  border-radius: 4px;
}

.rectangular {
  border-radius: 8px;
}

.circular {
  border-radius: 50%;
}
