.footer {
  height: 26vh;
  margin: 0 1rem;
}

.footer p {
  text-align: center;
  color: var(--color-medium-grey);
  transition: color var(--transition-speed) var(--transition-ease);
}

.navLinksContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.navLinks {
  display: flex;
  gap: var(--spacing-md);
  list-style: none;
  font-size: 1.5rem;
}

.navLinks a {
  color: var(--text-color);
  text-decoration: none;
  transition: color var(--transition-speed) var(--transition-ease);
}

.navLinks a:hover {
  color: var(--color-light-grey);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: var(--color-lighter-grey);
}

@media screen and (max-width: 600px) {
  .footer {
    min-height: auto;
    height: auto;
    padding: 2rem 0;
    margin: 0;
  }
  
  .footer nav {
    height: fit-content;
    margin-bottom: 1.5rem;
  }
  
  .navLinks {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
}

